POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=ibp
POSTGRES_USER=ibp
POSTGRES_PASSWORD=ibp

OBJECT_STORAGE_MODE=local
OBJECT_STORAGE_BUCKET=ibp-media
OBJECT_STORAGE_ENDPOINT=http://localhost:9000
OBJECT_STORAGE_REGION=us-east-1
OBJECT_STORAGE_ACCESS_KEY=minio
OBJECT_STORAGE_SECRET_KEY=minio123
